body {
    margin: 0;
}

.header-box {
    font-size: 20px;
    background-color: #cccccc4b;
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
}

/* 중간 MyPage 있는 div */
.word-container {
    display: flex;
    justify-content: space-between;
}

.word {
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
}

/* A 태그 밑줄 제거 / 검은색 설정 */
.word a {
    text-decoration: none; 
    color: #000; 
}

ul.cloth-list {
    list-style-type: none; 
    padding: 0;
    margin: 0 20px;
}

ul.cloth-list > li.list-item {
    border: 1.5px solid #0000002c;
    margin: 0px 170px 5px;
    border-radius: 5px;
    width: auto;
    display: flex;
}

.list-item-content {
    margin: 0 10px; 
    padding: 2px; 
    box-sizing: border-box; 
    width: auto;
    height: auto;
}

.item-text-content {
    margin: auto 10px; /* 위아래를 가운데 정렬하기 위해 margin 속성 수정 */
    padding: 2px; 
    box-sizing: border-box; 
    width: auto;
    height: auto;
    font-size: 24px;
}

/* img 들어있는 div */
.list-item img {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin-bottom: 10px; /
}

/* text 부분 */
.text-content {
    margin: 25px 10px; 
    padding: 2px; 
    box-sizing: border-box; 
    width: auto;
    height: auto;
}

/* 사진 부분 width */
ul.cloth-list > li.list-item > div:first-child {
    width: 150px;
}

/* 버튼 */
.refresh-button {
    padding: 15px 25px; /* 내부 여백을 더 크게 조절 */
    font-size: 16px; /* 글꼴 크기를 키움 */
    background-color: #cccccc4b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px; /* 버튼 모서리를 더 둥글게 만듦 */
    cursor: pointer;
    transition: background-color 0.3s; /* 호버 효과를 부드럽게 만듦 */
}

a {
    text-decoration: none; 
    color: #000; 
}

.style-box {
    border: 1px solid rgba(192, 22, 22, 0.795); /* 테두리 스타일 */
    border-radius: 10px; /* 둥근 테두리를 위한 값 조절 */
    padding: 2px; /* 내부 여백 */
    width: 100px; /* 너비 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    margin: 8px 0;
    font-size: 12px;
}

#itemImage {
    width: 150px;
}